{% set page_name = "paste_delete" %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <div class="section">
      <div class="section__header">
          <h1 class="section__title">{{ _("paste_delete") }}</h1>
      </div>
      <div class="section__body">
        <form method="post">
          <div class="row">
            <div class="medium-12 columns">
              <label>
                <input type="hidden" name="pasteid" value="{{ doc._id }}" class="textbox" readonly>
              </label>
              {%- if doc.title.length == 0 -%}
                <div style="padding-top:16px">{{ _("No Title") }}</div>
              {%- else -%}
                <div style="padding-top:16px">{{ _('Title') }}: {{ doc.title }}</div>
              {%- endif -%}
              <div style="padding-top:12px">{{ _('PasteID') }}: {{ doc._id }}</div>
            </div>
          </div>
          <br>
          <div style="margin:1.6rem 0 1.6rem;">{{ _('Click the button below to delete the paste. This action is irreversible, please proceed with caution.') }}</div>
          <div class="row">
            <div class="column">
              <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
              <button type="submit" class="rounded primary button">
                {{ _('Delete') }}
              </button>
              <button type="button" class="rounded button" onclick="window.history.go(-1)">
                {{ _('Cancel') }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}