{% set page_name = "paste_delete" %}
{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-12 columns">
    <div class="section">
      <div class="section__header">
          <h1 class="section__title">{{ _("paste_delete") }}</h1>
      </div>
      <div class="section__body">
        <form method="post">
          <div class="row">
            <div class="medium-12 columns">
              <label>
                <input type="hidden" name="pasteid" value="{{ doc._id }}" class="textbox" readonly>
              </label>
              <div style="padding-top:16px">
                标题: {{ doc.title }}
              </div>
              <div style="padding-top:12px">
                剪贴板 ID: {{ doc._id }}
              </div>
            </div>
          </div>
          <br>
          <div style="margin:1.6rem 0 1.6rem;">点击下方按钮即可删除剪贴板，操作不可逆，请谨慎操作。</div>
          <div class="row">
            <div class="column">
              <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
              <button type="submit" class="rounded primary button">
                {{ _('Delete') }}
              </button>
              <button type="button" class="rounded button" onclick="window.history.go(-1)">
                {{ _('Cancel') }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}